.toolheader {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 24px;
    }
}

.box {
    border: solid 1px red;
    display: flex;
    justify-content: center;
    .boxin {
        display: flex;
        justify-content: space-evenly;
        height: 30rem;
        border: solid 1px blue;
        .boxes {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 1rem;
            width: 10rem;
            border: solid 1px green;
            .boxicon {
                border: solid 1px white;
                width: 72px;
                height: 72px;
            }
        }
    }
}