:root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #021526;
}

body {
    justify-items: center;
    justify-content: center;
    display: flex;
    padding: 3rem;
}

.image-div img {
    width: 420px;
    height: 420px;
}

.description {
    padding: 2rem;
}

.hello-there {
    font-size: 48px;
}

.introduction {
    font-size: 20px;
}

.introduction span {
    color: #C8ACD6;
}

.social-icons {
    margin-top: 4rem;
}

.social-icons a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.social-icons a img {
    transition: all;
    transition-duration: 0.3s;
}

.social-icons a img:hover {
    transform: translateY(-4px);
}