:root {
  background-color: black;
  color: white;
  font-family: 'JetBrains Mono', sans-serif;
}

body {
  margin: 0;
}

.outlet {
  margin: 0;
  padding: 1rem;
}

nav {
  width: 100vw;
  border-top: solid 1px white;
  position: fixed;
  bottom: 0;
  ul {
    padding: 0;
    justify-content: first baseline;
    display: flex;
    li {
      margin: 0;
      padding: 0 1rem 0 1rem;
      list-style: none;
    }
  }
}

.navLink {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
  text-decoration: none;
  color: white;
}

.navLink:hover {
  border-radius: 3px;
  background: white;
  color: black;
  transition: all;
  transition-duration: 0.3s;
}

.activeLink {  
  border-radius: 3px;
  background: white;
  color: black;
  transition: all;
  transition-duration: 0.3s;  
}