:root {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  background-color: #021526;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 4rem;
  height: 100vh;
}

.main {
  display: flex;
  .image {
    margin: 3rem;
  }
}

.desc {
  margin-left: 4rem;
  margin-top: 3rem;
}

.hello {
  font-size: 48px;
}

.intro {
  font-size: 20px;
  width: 30rem;
}

.intro span {
  color: #C8ACD6;
}

.social {
  margin-top: 6rem;
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social a {
  transition: all;
  transition-duration: 0.3s;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social a:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 2rem;
  }
  .main {
    display: block;
    margin: 0;
  }

  .image {
    width: 280px;
    height: 280px;
    margin: 0;
  }

  .desc {
    margin: 1rem;
    padding: 0;
  }


  .social {
    margin-top: 3rem;
  }
  
}