#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}



@media only screen and (min-width: 964px) {
  .tab {
    background-color: #fff;
    height: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left: 1rem;
    p {
      padding: 0;
      margin: 0;
    }
  }

  .tab-container {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 52px;
    background-color: #E6E6E6;
  }
  .browser-container {
    height: 90vh;
    width: 90vw;
    background-color: #fff;
  }

  .title-name {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    margin-top: 2rem;

  }

  .title-intro {
    padding: 0;
    margin: 0;
  }
}